@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');

@font-face {
  font-family: 'Bookish';
  src: url('../Bookish-Book.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../IBMPlexMono.woff') format('woff');
}

@font-face {
  font-family: 'Bold';
  src: url('../IBMPlexMono-Medium.woff') format('woff');
}

/* @font-face {
  font-family: 'IBM';
  src: url('../Mono.ttf') format('ttf');
} */

html {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
}

a:hover {
  text-decoration: underline;
}

.sub {
  content: '';
  height: 2rem;
  width: 6rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
}

.sub:hover {
  background-color: rgba(10, 0, 0, 0.55);
}

.current {
  height: 2rem;
  width: 9rem;
  /* padding: 5px 5px; */
  border-radius: 5px;
  background-color: rgba(205,237,211,0.5);
}

.country {
  padding: 0 1rem;
  height: 2rem;
  width: fit-content;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.13);
}

.country:hover {
  background-color: rgba(10, 0, 0, 0.4);
}

div::selection {
  background: transparent;
}

h1::selection, h2::selection, a::selection, p::selection, 
button::selection, li::selection, td::selection, img::selection,
option::selection, label::selection, iframe::selection {
  background: rgba(205,237,211,0.5);
}

.footer {
  height: 100%;
  background-color: rgb(243 244 246);
}

option::selection {
  background: transparent;
}

input[type='email'] {
  padding: 8px 0;
  border-bottom: 1.3px solid;
}

/* [type=checkbox] {
  display: none;
} */

input[type='checkbox'] {
  /* position: relative; */
  width: 1rem;
  height: 1rem;
  padding: 0 0;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
}

input[type='text'] {
  width: 100%;
  height: 3.5rem;
  border-radius: 9px;
  padding: 0 15px;
}

label {
  cursor: pointer;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #636c72;
}

option {
  /* padding: 8px 8px; */
  border-bottom: 1.3px solid;
}

select {
  background: url('../public/img/chevron-down.svg') no-repeat 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  width: 100%;
  padding: 8px 0;
  border-bottom: 1.3px solid;
}

select:focus {
  outline: none;
}

ul li {
  padding: .5rem .7rem;
  border-radius: .5rem;
}

ul li:hover {
  background-color: rgba(198, 185, 147, 0.5);
  text-decoration: underline;
}

::-webkit-scrollbar {
  display: none;
}

.glass {
  /* From https://css.glass */
  @apply border-y-[15px] border-transparent;
  position: fixed;
  top: 4.5rem;
  left: 1.3rem;
  height: 82vh;
  width: 45.5vh;
  background: rgba(193, 184, 184, 0.18);
  border-radius: 7px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.drop {
  height: fit-content;
  position: fixed;
  top: 3rem;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow-y: scroll;
  /* opacity: 0.5; */
}

